<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <script src="{{ url_for('static', filename='js/plotly-3.0.1.min.js') }}"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/metrics.min.js') }}"></script>
    <title>marionette | Dashboard</title>
</head>
<body>
	<div class="main">
        <div class="performance">
            <h2>Performance</h2>
            <div class="row">
                <div class="item" id="cpu">
                    <div class="graph" id="cpuGraph"></div>
                    <h4>CPU (%)</h4>
                </div>
                <div class="item" id="ram">
                    <div class="graph" id="ramGraph"></div>
                    <h4>RAM (%)</h4>
                </div>
                <div class="item" id="network">
                    <div class="graph" id="networkGraph"></div>
                    <h4>Network (Bytes)</h4>
                </div>
            </div>
        </div>
        <div class="modules">
            <h2>Modules</h2>
            <div class="track">
                <div class="trackItem" data-itemName="grimoire">
                    <h3>Grimoire</h3>
                    <p>NAS (Network Attached Storage)</p>
                    <div class="trackItemNav">
                        <a href="/modules/grimoire/info">learn more</a>
                        <a href="/modules/grimoire/config">config</a>
                        <br>
                        <div class="toggle-switch">
                            <label class="slider">
                                <input type="checkbox" class="checkbox">
                                <span class="icon"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="errors">
            <h2>Error logs</h2>
        </div>
    </div>
</body>
</html>